<div class="container">
    <nav class="navbar">
      <div class="logo">
        <img src="Assets/flaa-logo.avif" alt="Logo">
      </div>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="tours" routerLinkActive="active">Tours</a>
      <a routerLink="booking" routerLinkActive="active">Booking</a>
      <a routerLink="login" routerLinkActive="active">LogIn</a>
      <a routerLink="hotels" routerLinkActive="active">Tours</a>
      <a routerLink="register" routerLinkActive="active">Register</a>
      <a routerLink="logout" routerLinkActive="active">LogOut</a>
    </nav>
</div>
  