
 <!-- <div class="content1"> -->
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="content1">
    <div class="content">
        <label for="bstart"> Start Date</label>
        <input type="date" formControlName="sdate">
    </div>
    <div class="content">
        <label for="bstart"> End Date</label>
        <input type="date" formControlName="edate">
    </div>
    <div class="content">
        <label for="bstart"> BookingDate</label>
        <input type="date" formControlName="bdate">
    </div>
    <button  type="submit" [disabled]="form.invalid">Add Booking</button>
        </form>
     <!-- </div> -->
    