<div class="container">
  <header>
    <h1>Welcome to Flamingo Tours </h1>
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/tours">Tours</a>
      <a routerLink="/hotels">Hotels</a>
      <a href="#">Booking</a>
      <a href="#">Profile</a>
    </nav>
  </header>
  
  <main>
    <app-login></app-login>
    <!-- <app-sign-up></app-sign-up> -->
    <!-- <router-outlet></router-outlet> -->
  </main>

  <!-- <footer>
    <p>&copy; 2024 Premier Vans Tours & Travels.co. All rights reserved.</p>
  </footer> -->
</div>

