.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
  }
  
  main {
    padding: 20px 0;
    background-image: url('../../assets/photo6.webp');
    background-size: cover;
    height: 600px;
  }
  
  main section {
    margin-bottom: 40px;
  }
  
  .intro h2 {
    font-size: 50px;
    color: black;
    text-align: center;
  }
  
  .intro p {
    font-size: 18px;
    color: #1e1010f0;
    text-align: center;
  }

  
  footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }
  
  footer p {
    margin: 0;
    color: #666;
  }
  